
/* GENERAL*/

html, body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #222222;
	text-align: center;
	background: url(https://lh3.googleusercontent.com/PghEgfJK7S4zWoo2cGfnKwYEi3B5m1feth7WQ5g7Z7jgVtaJ_HXZ5fhiKdRvXnaGPBMJDBdrcNUYcXFVL6pTI5h-1T1uyomLPSnkUyzwWyx06u1KmLF_j5DEg7xEWBRsRE2WcBcWFgA3uPzNpu7asjnbD7z1Uzopjfyi6JFlPKeMldiau10vjY9cFlOOBCYhoREnEcOrDQAAknl1_Lnu_hGH27hIJ3QFGNCfMCTj5f2V3yOMLEaQqhfJyeY7zcHJTS4M8E6aTcaBje1qdIOt7M7UhDhD8e4fJOgrS7UIztNpsP5uD1worIeyrUU8gSn1_B5aZnNoiv5-SxHwaDya3o1PJQV06KfQw5uH-8lrDh4ElgFNA8JySDdehd8jUJaK2-vbiO-4K8bOCAy5fHv_2iIp-ks64zEEMlBkZh4gom3aTARHX6OU1Y4jXdpn-9wKJBLfC6-W8H9PsWytjk09ppMNn6ZPD6-yhAIsrdjAImKw4fRvowzCi143xEb4JsTs6UuzSgwiZqQTc1BQodnx6STPqnSmVkrPZ70tbWsrrsHEwnmLQWuiZZyDrSfrvUs-W5v5jcEb4sjxky0yTyOUO3mDlX8ePByL29RirHaZQsn0VfKHRcqF4VDlpUUOnH5zjzt6wcAqkEBULIk2ZnjTAUwc1_e_LYSX7-zIzD34FQ=w1920-h949-no);
	   /*background image previous :https://images.unsplash.com/photo-1453280339213-efb07f95531b?w=1950*/
	

	background-size: cover;
	background-attachment: fixed;
}

a {
	color: #222222;
	text-decoration-color: #222222;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2rem;
	color: white;
}

h3 {
	color: white;
}


:focus {
    outline-width: 0;
}

.pagination > .active > span:focus {
	background-color: #222222;
	border-color: #222222;
}

.label-primary {
	background-color: #222222;
}

.cursive {
	font-family: 'Cedarville Cursive';
	color: white;
}

.wide {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.navbar-inverse .navbar-toggle {
  	border: 0.1rem solid grey;
}

.navbar-toggle {
	margin-top: 0.55rem;
	height: 3rem;
	width: 3rem;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: grey;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: #222222;
    border-color: white;
 }

.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: white;
 }

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 6px;
}

.navbar-toggle .icon-bar {
	width: auto;
	height: 3px;
}

.jumbotron {
	margin: auto 6%;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
}

.row {
	padding: 2rem 0;
	text-align: center;
	display: flex;
	align-items: center;
}

/* NAVIGATION */

#top {
	position: fixed;
	border-radius: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

#left-nav {
	margin: 0.2rem 0.8rem;
	padding: 0.6em 0.7em;
	width: 3.7rem;
	height: 3.7rem;
	font-family: 'Cedarville Cursive';
	font-size: 1.8rem;
	border: 0.1rem solid grey;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

#left-nav:hover {
	border-color: white;
}

#right-nav {
	padding-top: 0.3em;
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
	text-align: right;
}

/* INTRO */

#intro {
	position: relative;
	padding: 15vH 0 6vH;
	height: 85%;
	max-height: 80vH;
}

#profile {
  max-width: 70%;
	border-radius: 50%;
}

/* SINCE LABEL*/

#since {
	margin: auto 19%;
	min-height: 6rem;
	background-color: rgb(34, 34, 34);
	transform: translateY(3rem);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}


#since p {
	margin: 0;
	padding: 0.5rem;
	font-size: 2.5rem;
}

/* PORTFOLIO */

#portfolio, #connect {
	background-color: #FFFFFF;
}

#portfolio {
	padding-top: 6rem;;
}

.thumbnail {
	margin: 0 1rem;
	border: 0.01rem solid rgba(34, 34, 34, 0.1);
	border-radius: 0;
}

.thumbnail:hover {
	outline: 0.15rem solid rgba(34, 34, 34, 0.9);
}

/* CONNECT */

#connect {
	padding: 3rem 0;
	color: #fff;
	text-align: center;
}

#stripe {
	background-color: rgba(34, 34, 34, 1);
	padding: 2.5rem;
}

#social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa {
	margin: 2rem 5rem 0;
	font-size: 5rem;
	color: grey;
}

.fa:hover {
	color: #fff;
}

/* FOOTER */

footer {
	margin: 1rem 0;
	font-size: 0.8rem;
	font-weight: 800;
	display: block;
}

footer p {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 0.5rem 0;
	text-shadow: 0.075em 0.05em rgba(255, 255, 255, 0.35);
}